$primary-color: #004983;
$text-dark: #212121;
$text-light: #FFFFFF;
$grey: #BDC4D0;
$background-light: #F3F4F8;
$border-light: darken($background-light, 2%);
$background-dark: darken($background-light, 5%);
$border-dark: darken($background-dark, 2%);