{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            }
        }],
        ["es2015", {"modules": false}], 
        "react", 
        "stage-0"
    ],
    "plugins": [
        "react-html-attrs", 
        "react-hot-loader/babel",
        "transform-decorators-legacy", 
        "transform-class-properties", 
        "transform-object-rest-spread"
    ]
}