header {
	height: 74vh;
	overflow: hidden;
}

nav {
	display: flex;
	position: fixed;
	top: 0.5rem;
	left: 50%;
	width: 100%;
	max-width: 1040px;
	padding-right: 160px;
	background-color: $primary-color;
	transform: translateX(-50%);
	height: 60px;
	z-index: 1;
}

.nav-wrapper {
	display: flex;
	flex: {
		direction: row;
		grow: 1;
		shrink: 0;
		basis: 100%;
	}
	position: relative;
	height: 100%;
	padding: 0 0.875rem;
}

.app-banner {
	display: flex;
	flex: {
		direction: row;
		grow: 0;
		shrink: 0;
	}
	align-items: center;
}

.logo {
	margin-right: 0.875rem;
	svg {
		width: 25px;
		height: 25px;
	}
}

.app-name {
	font: {
		size: 1.0625rem;
		weight: 600;
	}
	text-transform: uppercase;
	letter-spacing: 1.25px;
	color: $border-light;
	
	small {
		font: {
			size: 0.8125rem;
			weight: 400;
		}
		letter-spacing: 3.5px;
		color: $grey;
	}
}

//--------------
// Nav Dropdown
//--------------
.nav-dropdown_background {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	// width: 100px;
	// height: 100px;
	background-color: $background-light;
	// background-color: $grey;
	box-shadow: 0 50px 100px rgba(50,50,93,0.1), 0 15px 35px rgba(0,0,0,0.1);
	border: {
		color: $border-light;
		radius: 4px;
		style: solid;
		width: 1px;
	}
	will-change: opacity;
	// transition: transform 0.2s ease-in;
	transform-origin: top center;
	pointer-events: none;
	opacity: 0;
	
	// Attribute States
	&[aria-expanded="true"] {
		opacity: 1;		
	}
	
	&[aria-expanded="false"] {
		opacity: 0;		
	}
}

//--------------
// Nav Menu
//--------------

.nav-menu {
	display: flex;
	flex: {
		direction: row;
		grow: 1;
		shrink: 0;
		basis: 50%;
	}
	align-items: stretch;
	justify-content: center;
	position: relative;
	max-width: 500px;
	// height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;
	// overflow: visible;
}

.nav-menu_item {
	display: flex;
	flex: {
		direction: row;
		grow: 1;
		shrink: 1;
		basis: 25%;
	}
	align-items: stretch;
	justify-content: center;
	position: relative;
	// overflow: visible;

	&:hover{
		> a {
			color: $grey;
		}
	}
	
	// Direct decendant
	> a {
		display: flex;
		flex: {
			direction: row;
			grow: 1;
			shrink: 1;
		}
		align-items: center;
		justify-content: center;
		font: {
			size: 1.0625rem;
			weight: 400;
		}
		text-decoration: none;
		letter-spacing: 0.2px;
		color: $background-light;
		overflow: hidden;

		// Pseudo Elements
		// &:after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	left: 50%;
		// 	bottom: 0;
		// 	width: 10px;
		// 	height: 5px;
		// 	color: $background-light;
		// 	background-color: currentColor;
		// 	// border-top: {
		// 	// 	color: currentColor;
		// 	// 	size: 3px;
		// 	// 	style: solid;
		// 	// }
		// 	border: {
		// 		// radius: 100%;
		// 		top: {
		// 			left: {
		// 				radius: 10px;
		// 			}
		// 			right: {
		// 				radius: 10px;
		// 			}
		// 		}
		// 	}
			
		// }
	}
}

//--------------
// Nav Submenu
//--------------

.nav-submenu {
	display: flex;
	flex: {
		direction: column;
		// grow: 1;
		// shrink: 0;
		// basis: 100%;
	}
	align-items: stretch;
	justify-content: stretch;
	position: absolute;
	top: 100%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	// width: 100%;
	// width: 100vw;
	margin: 0;
	padding: 0.875rem;
	list-style: none;
	transform: translate(-50%, 0);
	// background-color: transparentize($background-light, 0.5);
	
	// Attribute States
	&[aria-expanded="true"] {
		transition: opacity 0.2s ease-in;
		pointer-events: auto;
		opacity: 1;		
	}
	
	&[aria-expanded="false"] {
		transition: opacity 0.1s ease-out;
		pointer-events: none;
		opacity: 0;		
	}
}

.nav-submenu_item {
	display: flex;
	flex: {
		direction: column;
		grow: 1;
		shrink: 1;
		basis: 1;
	}
	position: relative;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	height: 100%;
	padding: 0 0.875rem;
	
	> a {
		display: flex;
		flex: {
			direction: column;
			grow: 1;
			shrink: 0;
			basis: 1;
		}
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 50px;
		height: 100%;
		text-decoration: none;
		white-space: nowrap;
		color: $text-dark;
	}	
}

.stripes{
	width: 100%;
	height: 74vh;
	overflow: hidden;
	transform: skewY(-5deg);
	transform-origin: 0;
	// background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
	background-color: $primary-color;	
}